.address {
    display: grid;
    justify-content: center;
}
h1{
    text-align: center;
}

.input-grid {
    display: grid;
    grid-template-rows: auto;
    width: 90%;
}

input {
    all: unset;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    width: 70vw;
    padding: 2%;
    margin-bottom: 3%;
}

input::placeholder {
    color: black;
}